/*fuentes*/
@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap");

h1 {
  font-family: "Alex Brush", cursive;
  font-size: 80px;
  font-weight: 500;
  margin-bottom: -30px;
  padding-bottom: 0;
}
h3 {
  text-transform: uppercase;
  letter-spacing: 3px;
  border-bottom: 3px grey solid;
  padding-bottom: 10px;
  margin-right: 10px;
}

a {
  color: black;
}

a:hover {
  font-size: larger;
  font-style: italic;
}

/* NAVBAR*/
body {
  margin: 0;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

#myLinks {
  float: right;
}
.navbar a,
.navbar p {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.navbar p {
  margin: 0;
  float: left;
  display: block;
}

/*header*/
header {
  margin-top: 50px;
  height: 250px;
}

.foto {
  position: absolute;
  top: 10px;
  left: 40px;
  padding-left: 20px;
}
.foto img {
  max-width: 250px;
  clip-path: circle(41.8% at 50% 50%);
}
.nombre {
  text-align: center;
  padding-bottom: 0;
  margin-bottom: 0;
  padding-top: 30px;
}

.rosa {
  background-color: #e7a9a7;
  text-align: center;
  margin-top: 0;
  padding: 10px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 3px;
  word-spacing: 3px;
  font-weight: 300;
}

/* Cuerpo principal */

/* IZQUIERDA */
main {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 0px 0px;
  grid-template-areas: "izq der";
}

.izquierda {
  width: 95%;
  grid-area: izq;
  padding: 20px;
}

main img {
  width: 30px;
  padding-right: 5px;
  vertical-align: middle;
}

.contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}

.contacto p {
  display: inline;
  margin-top: 0;
  padding-top: 0;
}

.contacto a {
  margin-top: 0;
}
.subsection {
  padding-bottom: 10px;
}

/*EDUCACION*/
.edu,
.Referencias {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  padding-left: 20px;
}

.edu p,
.Referencias p {
  margin: 2px;
}

.edu .subsection,
.Referencias .subsection {
  margin-bottom: 10px;
}

.edu a {
  font-weight: bold;
}

/*SKILLS*/

.Habilidades {
  display: grid;
  grid-template-columns: 125px 1fr;
  gap: 0px 25px;
  padding-left: 20px;
}

.Habilidades p {
  margin-top: 0;
}

.dot {
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.color {
  background-color: #e7a9a7;
}

/*DERECHA*/
.derecha {
  width: 95%;
  padding: 20px;
  grid-area: der;
}

.derecha p {
  padding-left: 20px;
}

#Experiencia {
  padding-top: 15px;
}

.Referencias {
  padding-left: 0;
}

/*footer*/
footer {
  background-color: #333;
  color: white;
  padding: 10px;
}

footer a {
  color: #f2f2f2;
  text-decoration: none;
}

footer a:hover {
  background: #ddd;
  color: black;
  padding: 10px;
  font-size: larger;
}

#icon {
  visibility: hidden;
}

.topnav #myLinks {
  display: inline;
}

@media screen and (max-width: 1200px) {
  h1,
  .rosa {
    text-align: right;
    padding-right: 10px;
  }

  .topnav #myLinks {
    display: inline;
  }
}

@media screen and (max-width: 870px) {
  h1 {
    font-size: 50px;
    margin-bottom: -20px;
  }
  h2 {
    font-size: larger;
  }

  .foto img {
    max-width: 200px;
  }

  .foto {
    top: 30px;
  }

  #icon {
    visibility: visible;
  }

  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }

  .navbar a {
    display: flex;
    flex-direction: column;
    float: none;
  }

  #icon {
    float: right;
  }

  main {
    display: grid;
    grid-template-columns: auto;
    gap: 0px 0px;
    grid-template-areas: "izq" 
    "der";
  }

}

@media screen and (max-width: 600px) {
  .foto {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    top: 0;
    left: 0;
    padding: 0;
    margin:0 ;
    height: auto;
  }

  .nombre{
    padding-top: 0ch;
    margin-top: 0;
  }

  .izquierda{
    margin-top: 30px;
  }

  #Contacto{
    padding-top: 100px;
  }
}